* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow: hidden;

}
body {
    height: 100%;
    width: 100%;
    

}
.login {
    width: 100vw;
    height: 100vh;
    background-color:quamarine;
    background-image: url("../Images/donation.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
.login-form {
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50, -50);
    background: white;
    padding: 50px 60px 70px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    display: flex; */

    /* position: relative;
    width: 40vw;
    height: 450px;
    background-color: darkcyan;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center; */
}
.login-form h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: rgb(27, 218, 221);
    position: relative;
}
