.servicerow {
    height: 500px;
    background-color: antiquewhite;
    margin-top: 800px;
    text-align: center;
    
}

.servicecolumn {
    float: left;
    width: 20%;
    text-align: center;
    background-color: rgb(184, 212, 212);
    height: 300px;
    box-shadow:inset;
    border-radius: 15px;
    margin-left: 50px;
}

#servicehead{
    text-align: center;
    font-size: 20px;
    width: 100%;
}